Package: libsigc++-2.0-dev
Source: libsigc++-2.0
Version: 2.10.1-1
Architecture: amd64
Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
Installed-Size: 5700
Depends: libsigc++-2.0-0v5 (= 2.10.1-1), pkg-config
Suggests: libsigc++-2.0-doc
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://libsigcplusplus.github.io/libsigcplusplus/
Description: type-safe Signal Framework for C++ - development files
 This library implements a full callback system for use in widget
 libraries, abstract interfaces, and general programming. It provides
 the ability to connect an abstract callback to a class method,
 function, or function object, and contains adaptor classes for the
 connection of dissimilar callbacks.
 .
 These are the development files for libsigc++, needed only if you
 wish to write software which uses it.
