Package: libsigc++-2.0-doc
Source: libsigc++-2.0
Version: 2.10.1-1
Architecture: all
Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
Installed-Size: 15939
Section: doc
Priority: optional
Multi-Arch: foreign
Homepage: https://libsigcplusplus.github.io/libsigcplusplus/
Description: type-safe Signal Framework for C++ - reference documentation
 This library implements a full callback system for use in widget
 libraries, abstract interfaces, and general programming. It provides
 the ability to connect an abstract callback to a class method,
 function, or function object, and contains adaptor classes for the
 connection of dissimilar callbacks.
 .
 This package contains the reference documentation for libsigc++,
 needed only if you wish to write software which uses it.
