Package: libsigc++-2.0-0v5
Source: libsigc++-2.0
Version: 2.10.1-1
Architecture: amd64
Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
Installed-Size: 104
Depends: libc6 (>= 2.2.5), libgcc1 (>= 1:3.0), libstdc++6 (>= 5)
Conflicts: libsigc++-2.0-0c2a
Replaces: libsigc++-2.0-0c2a
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://libsigcplusplus.github.io/libsigcplusplus/
Description: type-safe Signal Framework for C++ - runtime
 This library implements a full callback system for use in widget
 libraries, abstract interfaces, and general programming. It provides
 the ability to connect an abstract callback to a class method,
 function, or function object, and contains adaptor classes for the
 connection of dissimilar callbacks.
 .
 These are the runtime files for libsigc++, needed only if you wish to
 run software which depends on it.
